/*
* @Author: aFei
* @Date: 2018-09-11 15:35:54
*/
/*
* @LastEditors: aFei
* @LastEditTime: 2018-09-11 15:35:56
*/
@import url("https://fonts.googleapis.com/css?family=Lato|Russo+One");
*,
*:after,
*:before {
  box-sizing: border-box; }

body, html, .container {
  height: 100%; }

body {
  padding: 0;
  margin: 0; }

.container {
  position: relative;
  overflow: hidden; }

.container-star {
  background-image: linear-gradient(to bottom, #292256 0%, #8446cf 70%, #a871d6 100%); }
  .container-star:after {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(15, 10, 38, 0.2) 100%);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
  .container-star .star-1 {
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    animation: twinkle 5s infinite ease-in-out; }
    .container-star .star-1:after {
      height: 100%;
      width: 100%;
      transform: rotate(90deg);
      content: '';
      position: absolute;
      background-color: #fff;
      border-radius: 50%; }
    .container-star .star-1:before {
      background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      border-radius: 50%;
      content: '';
      top: -20%;
      left: -50%; }
    .container-star .star-1:nth-of-type(1) {
      top: 63%;
      left: 78%;
      width: 9px;
      height: 3px;
      animation-delay: 2s; }
      .container-star .star-1:nth-of-type(1):before {
        width: 18px;
        height: 18px;
        top: -250%; }
    .container-star .star-1:nth-of-type(2) {
      top: 58%;
      left: 53%;
      width: 5px;
      height: 1.6666666667px;
      animation-delay: 5s; }
      .container-star .star-1:nth-of-type(2):before {
        width: 10px;
        height: 10px;
        top: -250%; }
    .container-star .star-1:nth-of-type(3) {
      top: 59%;
      left: 28%;
      width: 7px;
      height: 2.3333333333px;
      animation-delay: 3s; }
      .container-star .star-1:nth-of-type(3):before {
        width: 14px;
        height: 14px;
        top: -250%; }
    .container-star .star-1:nth-of-type(4) {
      top: 33%;
      left: 27%;
      width: 6px;
      height: 2px;
      animation-delay: 5s; }
      .container-star .star-1:nth-of-type(4):before {
        width: 12px;
        height: 12px;
        top: -250%; }
    .container-star .star-1:nth-of-type(5) {
      top: 55%;
      left: 4%;
      width: 4px;
      height: 1.3333333333px;
      animation-delay: 2s; }
      .container-star .star-1:nth-of-type(5):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-1:nth-of-type(6) {
      top: 5%;
      left: 79%;
      width: 4px;
      height: 1.3333333333px;
      animation-delay: 3s; }
      .container-star .star-1:nth-of-type(6):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-1:nth-of-type(7) {
      top: 43%;
      left: 49%;
      width: 6px;
      height: 2px;
      animation-delay: 4s; }
      .container-star .star-1:nth-of-type(7):before {
        width: 12px;
        height: 12px;
        top: -250%; }
    .container-star .star-1:nth-of-type(8) {
      top: 35%;
      left: 73%;
      width: 5px;
      height: 1.6666666667px;
      animation-delay: 1s; }
      .container-star .star-1:nth-of-type(8):before {
        width: 10px;
        height: 10px;
        top: -250%; }
    .container-star .star-1:nth-of-type(9) {
      top: 6%;
      left: 89%;
      width: 8px;
      height: 2.6666666667px;
      animation-delay: 5s; }
      .container-star .star-1:nth-of-type(9):before {
        width: 16px;
        height: 16px;
        top: -250%; }
    .container-star .star-1:nth-of-type(10) {
      top: 48%;
      left: 12%;
      width: 4px;
      height: 1.3333333333px;
      animation-delay: 3s; }
      .container-star .star-1:nth-of-type(10):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-1:nth-of-type(11) {
      top: 38%;
      left: 25%;
      width: 8px;
      height: 2.6666666667px;
      animation-delay: 4s; }
      .container-star .star-1:nth-of-type(11):before {
        width: 16px;
        height: 16px;
        top: -250%; }
    .container-star .star-1:nth-of-type(12) {
      top: 20%;
      left: 34%;
      width: 5px;
      height: 1.6666666667px;
      animation-delay: 1s; }
      .container-star .star-1:nth-of-type(12):before {
        width: 10px;
        height: 10px;
        top: -250%; }
    .container-star .star-1:nth-of-type(13) {
      top: 90%;
      left: 11%;
      width: 4px;
      height: 1.3333333333px;
      animation-delay: 1s; }
      .container-star .star-1:nth-of-type(13):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-1:nth-of-type(14) {
      top: 54%;
      left: 53%;
      width: 9px;
      height: 3px;
      animation-delay: 5s; }
      .container-star .star-1:nth-of-type(14):before {
        width: 18px;
        height: 18px;
        top: -250%; }
    .container-star .star-1:nth-of-type(15) {
      top: 62%;
      left: 9%;
      width: 5px;
      height: 1.6666666667px;
      animation-delay: 4s; }
      .container-star .star-1:nth-of-type(15):before {
        width: 10px;
        height: 10px;
        top: -250%; }
    .container-star .star-1:nth-of-type(16) {
      top: 63%;
      left: 28%;
      width: 6px;
      height: 2px;
      animation-delay: 1s; }
      .container-star .star-1:nth-of-type(16):before {
        width: 12px;
        height: 12px;
        top: -250%; }
    .container-star .star-1:nth-of-type(17) {
      top: 76%;
      left: 53%;
      width: 9px;
      height: 3px;
      animation-delay: 2s; }
      .container-star .star-1:nth-of-type(17):before {
        width: 18px;
        height: 18px;
        top: -250%; }
    .container-star .star-1:nth-of-type(18) {
      top: 88%;
      left: 80%;
      width: 4px;
      height: 1.3333333333px;
      animation-delay: 2s; }
      .container-star .star-1:nth-of-type(18):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-1:nth-of-type(19) {
      top: 2%;
      left: 7%;
      width: 9px;
      height: 3px;
      animation-delay: 2s; }
      .container-star .star-1:nth-of-type(19):before {
        width: 18px;
        height: 18px;
        top: -250%; }
    .container-star .star-1:nth-of-type(20) {
      top: 5%;
      left: 42%;
      width: 4px;
      height: 1.3333333333px;
      animation-delay: 5s; }
      .container-star .star-1:nth-of-type(20):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-1:nth-of-type(21) {
      top: 24%;
      left: 96%;
      width: 6px;
      height: 2px;
      animation-delay: 2s; }
      .container-star .star-1:nth-of-type(21):before {
        width: 12px;
        height: 12px;
        top: -250%; }
    .container-star .star-1:nth-of-type(22) {
      top: 48%;
      left: 74%;
      width: 7px;
      height: 2.3333333333px;
      animation-delay: 4s; }
      .container-star .star-1:nth-of-type(22):before {
        width: 14px;
        height: 14px;
        top: -250%; }
    .container-star .star-1:nth-of-type(23) {
      top: 24%;
      left: 21%;
      width: 4px;
      height: 1.3333333333px;
      animation-delay: 1s; }
      .container-star .star-1:nth-of-type(23):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-1:nth-of-type(24) {
      top: 66%;
      left: 30%;
      width: 5px;
      height: 1.6666666667px;
      animation-delay: 4s; }
      .container-star .star-1:nth-of-type(24):before {
        width: 10px;
        height: 10px;
        top: -250%; }
    .container-star .star-1:nth-of-type(25) {
      top: 20%;
      left: 27%;
      width: 5px;
      height: 1.6666666667px;
      animation-delay: 5s; }
      .container-star .star-1:nth-of-type(25):before {
        width: 10px;
        height: 10px;
        top: -250%; }
    .container-star .star-1:nth-of-type(26) {
      top: 67%;
      left: 75%;
      width: 5px;
      height: 1.6666666667px;
      animation-delay: 4s; }
      .container-star .star-1:nth-of-type(26):before {
        width: 10px;
        height: 10px;
        top: -250%; }
    .container-star .star-1:nth-of-type(27) {
      top: 13%;
      left: 95%;
      width: 4px;
      height: 1.3333333333px;
      animation-delay: 1s; }
      .container-star .star-1:nth-of-type(27):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-1:nth-of-type(28) {
      top: 88%;
      left: 71%;
      width: 7px;
      height: 2.3333333333px;
      animation-delay: 1s; }
      .container-star .star-1:nth-of-type(28):before {
        width: 14px;
        height: 14px;
        top: -250%; }
    .container-star .star-1:nth-of-type(29) {
      top: 20%;
      left: 2%;
      width: 9px;
      height: 3px;
      animation-delay: 2s; }
      .container-star .star-1:nth-of-type(29):before {
        width: 18px;
        height: 18px;
        top: -250%; }
    .container-star .star-1:nth-of-type(30) {
      top: 22%;
      left: 90%;
      width: 9px;
      height: 3px;
      animation-delay: 2s; }
      .container-star .star-1:nth-of-type(30):before {
        width: 18px;
        height: 18px;
        top: -250%; }
  .container-star .star-2 {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    animation: twinkle 5s infinite ease-in-out; }
    .container-star .star-2:nth-of-type(31) {
      top: 6%;
      left: 33%;
      width: 4px;
      height: 4px;
      animation-delay: 2s; }
      .container-star .star-2:nth-of-type(31):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-2:nth-of-type(32) {
      top: 89%;
      left: 1%;
      width: 2px;
      height: 2px;
      animation-delay: 2s; }
      .container-star .star-2:nth-of-type(32):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(33) {
      top: 8%;
      left: 44%;
      width: 3px;
      height: 3px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(33):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(34) {
      top: 18%;
      left: 40%;
      width: 2px;
      height: 2px;
      animation-delay: 5s; }
      .container-star .star-2:nth-of-type(34):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(35) {
      top: 4%;
      left: 32%;
      width: 3px;
      height: 3px;
      animation-delay: 5s; }
      .container-star .star-2:nth-of-type(35):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(36) {
      top: 81%;
      left: 86%;
      width: 2px;
      height: 2px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(36):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(37) {
      top: 19%;
      left: 55%;
      width: 3px;
      height: 3px;
      animation-delay: 5s; }
      .container-star .star-2:nth-of-type(37):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(38) {
      top: 16%;
      left: 95%;
      width: 2px;
      height: 2px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(38):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(39) {
      top: 72%;
      left: 62%;
      width: 2px;
      height: 2px;
      animation-delay: 1s; }
      .container-star .star-2:nth-of-type(39):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(40) {
      top: 33%;
      left: 44%;
      width: 2px;
      height: 2px;
      animation-delay: 1s; }
      .container-star .star-2:nth-of-type(40):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(41) {
      top: 32%;
      left: 89%;
      width: 4px;
      height: 4px;
      animation-delay: 4s; }
      .container-star .star-2:nth-of-type(41):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-2:nth-of-type(42) {
      top: 81%;
      left: 52%;
      width: 3px;
      height: 3px;
      animation-delay: 1s; }
      .container-star .star-2:nth-of-type(42):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(43) {
      top: 6%;
      left: 13%;
      width: 4px;
      height: 4px;
      animation-delay: 1s; }
      .container-star .star-2:nth-of-type(43):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-2:nth-of-type(44) {
      top: 84%;
      left: 90%;
      width: 4px;
      height: 4px;
      animation-delay: 4s; }
      .container-star .star-2:nth-of-type(44):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-2:nth-of-type(45) {
      top: 88%;
      left: 2%;
      width: 2px;
      height: 2px;
      animation-delay: 2s; }
      .container-star .star-2:nth-of-type(45):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(46) {
      top: 32%;
      left: 82%;
      width: 4px;
      height: 4px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(46):before {
        width: 8px;
        height: 8px;
        top: -250%; }
    .container-star .star-2:nth-of-type(47) {
      top: 92%;
      left: 37%;
      width: 2px;
      height: 2px;
      animation-delay: 1s; }
      .container-star .star-2:nth-of-type(47):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(48) {
      top: 94%;
      left: 66%;
      width: 3px;
      height: 3px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(48):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(49) {
      top: 5%;
      left: 85%;
      width: 3px;
      height: 3px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(49):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(50) {
      top: 34%;
      left: 77%;
      width: 2px;
      height: 2px;
      animation-delay: 5s; }
      .container-star .star-2:nth-of-type(50):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(51) {
      top: 67%;
      left: 75%;
      width: 2px;
      height: 2px;
      animation-delay: 2s; }
      .container-star .star-2:nth-of-type(51):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(52) {
      top: 91%;
      left: 57%;
      width: 2px;
      height: 2px;
      animation-delay: 4s; }
      .container-star .star-2:nth-of-type(52):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(53) {
      top: 24%;
      left: 58%;
      width: 2px;
      height: 2px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(53):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(54) {
      top: 45%;
      left: 10%;
      width: 2px;
      height: 2px;
      animation-delay: 4s; }
      .container-star .star-2:nth-of-type(54):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(55) {
      top: 53%;
      left: 90%;
      width: 3px;
      height: 3px;
      animation-delay: 5s; }
      .container-star .star-2:nth-of-type(55):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(56) {
      top: 70%;
      left: 56%;
      width: 3px;
      height: 3px;
      animation-delay: 4s; }
      .container-star .star-2:nth-of-type(56):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(57) {
      top: 90%;
      left: 9%;
      width: 2px;
      height: 2px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(57):before {
        width: 4px;
        height: 4px;
        top: -250%; }
    .container-star .star-2:nth-of-type(58) {
      top: 87%;
      left: 39%;
      width: 3px;
      height: 3px;
      animation-delay: 5s; }
      .container-star .star-2:nth-of-type(58):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(59) {
      top: 76%;
      left: 94%;
      width: 3px;
      height: 3px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(59):before {
        width: 6px;
        height: 6px;
        top: -250%; }
    .container-star .star-2:nth-of-type(60) {
      top: 76%;
      left: 47%;
      width: 4px;
      height: 4px;
      animation-delay: 3s; }
      .container-star .star-2:nth-of-type(60):before {
        width: 8px;
        height: 8px;
        top: -250%; }

.container-bird {
  perspective: 2000px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .container-bird .bird {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 50px;
    transform: translate3d(-100vw, 0, 0) rotateY(90deg);
    transform-style: preserve-3d; }
    .container-bird .bird:nth-child(1) {
      animation: bird1 30s linear infinite forwards; }
    .container-bird .bird:nth-child(2) {
      animation: bird2 30s linear infinite forwards;
      animation-delay: 3s;
      z-index: -1; }
    .container-bird .bird:nth-child(3) {
      animation: bird3 30s linear infinite forwards;
      animation-delay: 5s; }
    .container-bird .bird:nth-child(4) {
      animation: bird4 30s linear infinite forwards;
      animation-delay: 7s; }
    .container-bird .bird:nth-child(5) {
      animation: bird5 30s linear infinite forwards;
      animation-delay: 14s; }
    .container-bird .bird:nth-child(6) {
      animation: bird6 30s linear infinite forwards;
      animation-delay: 10s;
      z-index: -1; }
    .container-bird .bird .bird-container {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transform: translate3d(50px, 30px, -300px); }
      .container-bird .bird .bird-container .wing {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 3px;
        transform-style: preserve-3d;
        transform-origin: center bottom;
        z-index: 300; }
        .container-bird .bird .bird-container .wing.wing-left {
          background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
          transform: translate3d(0, 0, 0) rotateX(-30deg);
          animation: wingLeft 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite; }
        .container-bird .bird .bird-container .wing.wing-right {
          background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
          transform: translate3d(0, 0, 0) rotateX(-30deg);
          animation: wingRight 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite; }
        .container-bird .bird .bird-container .wing .wing-right-top,
        .container-bird .bird .bird-container .wing .wing-left-top {
          border-right: 25px solid transparent;
          border-left: 25px solid transparent;
          top: -20px;
          width: 100%;
          position: absolute;
          transform-origin: 100% 100%; }
        .container-bird .bird .bird-container .wing .wing-right-top {
          border-bottom: 20px solid #b8a5d1;
          transform: translate3d(0, 0, 0) rotateX(60deg);
          animation: wingRightTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite; }
        .container-bird .bird .bird-container .wing .wing-left-top {
          border-bottom: 20px solid #7979a8;
          transform: translate3d(0, 0, 0) rotateX(-60deg);
          animation: wingLeftTop 1.3s cubic-bezier(0.45, 0, 0.5, 0.95) infinite; }
  .container-bird .container-title {
    width: 600px;
    height: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex; }
    .container-bird .container-title .title * {
      display: inline-block;
      font-size: 200px; }
    .container-bird .container-title .title .number {
      text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
      padding: 0 0.2em;
      font-family: 'Russo One', sans-serif; }
    .container-bird .container-title .title .moon {
      position: relative;
      border-radius: 50%;
      width: 160px;
      height: 160px;
      z-index: 2;
      background-color: #fff;
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #ff1177;
      animation: rotate 5s ease-in-out infinite; }
      .container-bird .container-title .title .moon .face {
        top: 60%;
        left: 47%;
        position: absolute; }
        .container-bird .container-title .title .moon .face .mouth {
          border-top-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-top-right-radius: 50%;
          background-color: #5c3191;
          width: 25px;
          height: 25px;
          position: absolute;
          animation: snore 5s ease-in-out infinite;
          transform: rotate(45deg);
          box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.3); }
        .container-bird .container-title .title .moon .face .eyes {
          position: absolute;
          top: -30px;
          left: -30px; }
          .container-bird .container-title .title .moon .face .eyes .eye-left,
          .container-bird .container-title .title .moon .face .eyes .eye-right {
            border: 4px solid #5c3191;
            width: 30px;
            height: 15px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            border-top: 0;
            position: absolute; }
            .container-bird .container-title .title .moon .face .eyes .eye-left:before, .container-bird .container-title .title .moon .face .eyes .eye-left:after,
            .container-bird .container-title .title .moon .face .eyes .eye-right:before,
            .container-bird .container-title .title .moon .face .eyes .eye-right:after {
              content: '';
              position: absolute;
              border-radius: 50%;
              width: 4px;
              height: 4px;
              background-color: #5c3191;
              top: -2px;
              left: -4px; }
            .container-bird .container-title .title .moon .face .eyes .eye-left:after,
            .container-bird .container-title .title .moon .face .eyes .eye-right:after {
              left: auto;
              right: -4px; }
          .container-bird .container-title .title .moon .face .eyes .eye-right {
            left: 50px; }
    .container-bird .container-title .subtitle {
      font-size: 25px;
      margin-top: 1.5em;
      font-family: "Lato", sans-serif;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); }
    @media screen and (max-width: 580px) {
      .container-bird .container-title .title .number {
        font-size: 100px; }
      .container-bird .container-title .title .moon {
        width: 100px;
        height: 100px; }
        .container-bird .container-title .title .moon .face {
          transform: scale(0.7); }
      .container-bird .container-title .subtitle {
        font-size: 20px;
        padding: 0 1em; } }

@keyframes twinkle {
  0%, 100% {
    opacity: 0.7; }
  50% {
    opacity: 0.3; } }
@keyframes wingLeft {
  0%, 100% {
    transform: translate3d(0, 0, 0) rotateX(-50deg); }
  50% {
    transform: translate3d(0, -20px, 0) rotateX(-130deg);
    background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%); } }
@keyframes wingLeftTop {
  0%, 100% {
    transform: translate3d(0, 0, 0) rotateX(-10deg); }
  50% {
    transform: translate3d(0px, 0px, 0) rotateX(-40deg);
    border-bottom: 20px solid #b8a5d1; } }
@keyframes wingRight {
  0%, 100% {
    transform: translate3d(0, 0, 0) rotateX(50deg); }
  50% {
    transform: translate3d(0, -20px, 0) rotateX(130deg);
    background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%); } }
@keyframes wingRightTop {
  0%, 100% {
    transform: translate3d(0, 0, 0) rotateX(10deg); }
  50% {
    transform: translate3d(0px, 0px, 0px) rotateX(40deg);
    border-bottom: 20px solid #7979a8; } }
@keyframes bird1 {
  0% {
    transform: translate3d(-120vw, -20px, -1000px) rotateY(-40deg) rotateX(0deg); }
  100% {
    transform: translate3d(100vw, -40vh, 1000px) rotateY(-40deg) rotateX(0deg); } }
@keyframes bird2 {
  0%,
  15% {
    transform: translate3d(100vw, -300px, -1000px) rotateY(10deg) rotateX(0deg); }
  100% {
    transform: translate3d(-100vw, -20px, -1000px) rotateY(10deg) rotateX(0deg); } }
@keyframes bird3 {
  0% {
    transform: translate3d(100vw, -50vh, 100px) rotateY(-5deg) rotateX(-20deg); }
  100% {
    transform: translate3d(-100vw, -10vh, 100px) rotateY(-5deg) rotateX(-20deg); } }
@keyframes bird4 {
  0% {
    transform: translate3d(100vw, 30vh, 200px) rotateY(-5deg) rotateX(10deg); }
  100% {
    transform: translate3d(-100vw, -30vh, 200px) rotateY(-5deg) rotateX(10deg); } }
@keyframes bird5 {
  0%,
  5% {
    transform: translate3d(100vw, 30vh, 400px) rotateY(-15deg) rotateX(-10deg); }
  100% {
    transform: translate3d(-100vw, 10vh, 400px) rotateY(-15deg) rotateX(-10deg); } }
@keyframes bird6 {
  0%, 10% {
    transform: translate3d(-100vw, 20vh, -500px) rotateY(15deg) rotateX(10deg); }
  100% {
    transform: translate3d(100vw, 40vh, -800px) rotateY(5deg) rotateX(10deg); } }
@keyframes rotate {
  0%, 100% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(0deg); } }
@keyframes snore {
  0%, 100% {
    transform: scale(1) rotate(30deg); }
  50% {
    transform: scale(0.5) rotate(30deg);
    border-bottom-left-radius: 50%; } }
